from django.contrib.auth.models import User
from django.db import models

class FacebookUser(models.Model):
    user = models.OneToOneField(User, on_delete=models.CASCADE)
    facebook_id = models.CharField(null=True, max_length=200)
