from rest_framework.views import APIView
from rest_framework.response import Response
from rest_framework import authentication, permissions
from rest_framework.decorators import api_view
from ..serializers.user_serializer import UserSerializer

@api_view()
def user(request):
    return Response({"user": UserSerializer(request.user).data})