from django.db import models

class {{ generator.model_name.replace('_', ' ').title().replace(' ', '') }}(models.Model):
    {% for attribute in generator.model_attributes %}
        {{- attribute['name']}} = models.{{ attribute['class'] }}({{ attribute['field_extra'] }})
    {% endfor %}