<h1>{{ generator.pluralize(generator.titleize(generator.model_name)) }} List</h1>
<ul>
    {{ '{% for' }} {{ generator.model_name }} in {{ generator.pluralize(generator.model_name) }} {{ '%}' }}
        <li>{{ '{{' }} {{ generator.model_name }} {{ '}}' }}</li>
    {{ '{% empty %}' }}
        <li>No {{ generator.pluralize(generator.model_name) }} have been added yet.</li>
    {{ '{% endfor %}' }}
</ul>