{{ "{% extends 'layouts/application.html' %}" }}

{{ '{% block content %}' }}
<h1>New {{ generator.titleize(generator.model_name) }}</h1>

<form action="{{ "{% url 'main:new_" }}{{ generator.model_name }}{{ "' %}" }}" method='post'>
    {{ '{% csrf_token %}' }}
    {{ '{{ form.as_p }}' }}
    <button name="submit">Add {{ generator.titleize(generator.model_name) }}</button>
</form>
{{ '{% endblock content %}' }}